.firstScr {
  width: 45%;
  margin: 5px;

  @media (max-width: 800px) {
    width: 100%;
  }

  &-title {
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
  }

  &-block {
    border: 1px solid;

    .firstScr-searcher {
      &__title {
        text-align: center;
        font-size: 20px;
        margin: 10px 0;
      }

      &__wrap {
        text-align: center;
        margin: 10px 0;

        &-input {
          width: 250px;
        }
      }
    }
    .firstSrc-show {
      margin: 40px 0 0 0;
      .firstScr-list {
        &:not(:last-child) {
          border-bottom: 1px solid;
        }
        &:first-child {
          border-top: 1px solid;
        }

        .spinnerBlock {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 0 0 20px;

          .spinner {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px dashed #8f8f8f;
            animation: rotate-spinner 0.5s infinite linear;
          }

          @keyframes rotate-spinner {
            0% {
              transform: rotate(0deg) scale(0.6);
            }
            100% {
              transform: rotate(360deg) scale(1.1);
            }
          }
        }
      }
    }
  }
}
