.secondScr {
  width: 45%;
  margin: 5px;
  @media (max-width: 800px) {
    width: 100%;
  }
  &-title {
    text-align: center;
    font-size: 24px;
    margin: 10px 0;
  }

  &-section {
    border: 1px solid;

    &__title {
      text-align: center;
      font-size: 20px;
      margin: 10px 0;
    }

    .secondScr-topBlock {
      display: flex;
      &__avatar {
        width: 100px;
        height: 100px;
        border: 1px solid;
        margin: 0 0 0 10px;
        &-img {
          width: 100px;
          height: 100px;
        }
      }

      &__items {
        margin: 0 0 0 10px;
      }
    }

    .secondScr-text {
      text-align: center;
      margin: 15px;
    }

    .secondScr-bottomBlock {
      .secondScr-searcher {
        margin: 10px 0;

        &__wrap {
          text-align: center;
          &-input {
            width: 250px;
          }
        }
      }
    }

    .reposShow {
      margin: 40px 0 0 0;
      .secondScr-repo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        &:not(:last-child) {
          border-bottom: 1px solid;
        }
        &:first-child {
          border-top: 1px solid;
        }

        &-link {
          margin: 0 0 0 20px;
        }
        &-info {
          margin: 0 20px 0 0;
        }
      }
    }
  }
}
