body{
  margin: 0;
  padding: 0;
  background-color: #e7e7e7;
}

h1{
  text-align: center;
  color: #2a87d0;
}

.customBtn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  background-color: #8f8f8f;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background-color: #6e6e6e;
    color: red;
    transition: 0.4s;
  }
}